#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-flow: column;
  justify-content: center;

  a {
    padding: 2em;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: #00004050;
    }
  }
}
